{% extends "app/base.html" %}
{% block title %}Wishlist{% endblock title %}
{% block main-content %}
<div class="container py-5">
    <div class="row justify-content-center">
        {% if wishlist_items %}
        <h1 class="text-center mb-4 display-5">Your Wishlist</h1>
        <div class="col-lg-10">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-4">
                    <h3 class="mb-4">Wishlist Items</h3>
                    {% for item in wishlist_items %}
                    <div class="row align-items-center mb-4 border-bottom pb-3">
                        <div class="col-md-3 text-center">
                            <img src="{{ item.product.product_image.url }}" 
                                 alt="Product Image" 
                                 class="img-fluid rounded shadow-sm" 
                                 style="height: 150px; width: 150px; object-fit: cover;">
                        </div>
                        <div class="col-md-9">
                            <h5 class="fw-bold">{{ item.product.title }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <h1 class="text-center mb-5 display-6">Wishlist is Empty</h1>
        {% endif %}
    </div>
</div>
{% endblock main-content %}
